torch
torchvision
torchaudio
fastapi
uvicorn
python-multipart
pillow
tqdm
scikit-learn
matplotlib
psycopg[binary]
sqlalchemy
asyncpg
alembic
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
email-validator
bcrypt==4.0.1
redis
onnx
onnxruntime
celery
prometheus-fastapi-instrumentator
boto3
arq
prometheus-client
taskiq
taskiq-redis